<div class="page-width faq">
  <h2 class="h1">Frequently Ask Questions</h2>

  <div class="faq__row">
    <input type="checkbox" id="question-1" class="faq__toggle">
    <label for="question-1" class="faq__question">Question 1</label>
    <div class="faq__answer">Answer 1</div>
  </div>

  <div class="faq__row">
    <input type="checkbox" id="question-2" class="faq__toggle">
    <label for="question-2" class="faq__question">Question 2</label>
    <div class="faq__answer">Answer 2</div>
  </div>
</div>

{% schema %}
{
  "name": "FAQ",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "label": "Headline",
      "id": "headline"
    }
  ],
  "blocks": [
    {
      "name": "question",
      "type": "question",
      "settings": [
        {
          "type": "text",
          "label": "question",
          "id": "question"
        },
        {
          "type": "text",
          "label": "answer",
          "id": "answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ"
    }
  ]
}
{% endschema %}
